<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.management.dao.ConfigMapper">
	<resultMap id="BaseResultMap" type="com.business.management.pojo.Config">
		<id column="ID" jdbcType="INTEGER" property="id"/>
		<result column="CNF_CODE" jdbcType="VARCHAR" property="cnfCode"/>
		<result column="CNF_VALUE" jdbcType="VARCHAR" property="cnfValue"/>
		<result column="CNF_NOTE" jdbcType="VARCHAR" property="cnfNote"/>
		<result column="CNF_NOTE_KR" jdbcType="VARCHAR" property="cnfNoteKr"/>
		<result column="CNF_PARAM_1" jdbcType="VARCHAR" property="cnfParam1"/>
		<result column="CNF_PARAM_2" jdbcType="VARCHAR" property="cnfParam2"/>
		<result column="CNF_PARAM_3" jdbcType="VARCHAR" property="cnfParam3"/>
		<result column="CNF_PARAM_4" jdbcType="VARCHAR" property="cnfParam4"/>
		<result column="CNF_PARAM_5" jdbcType="VARCHAR" property="cnfParam5"/>
	</resultMap>
	<sql id="Base_Column_List">
    ID, CNF_CODE, CNF_VALUE, CNF_NOTE, CNF_NOTE_KR, CNF_PARAM_1, CNF_PARAM_2, CNF_PARAM_3, CNF_PARAM_4, CNF_PARAM_5
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from tb_config
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_config
    where ID = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.business.management.pojo.Config">
    insert into tb_config (ID, CNF_CODE, CNF_VALUE, 
      CNF_NOTE, CNF_NOTE_KR, CNF_PARAM_1, CNF_PARAM_2, CNF_PARAM_3, CNF_PARAM_4, CNF_PARAM_5)
    values (#{id,jdbcType=INTEGER}, #{cnfCode,jdbcType=VARCHAR}, #{cnfValue,jdbcType=VARCHAR}, 
      #{cnfNote,jdbcType=VARCHAR}, #{cnfNoteKr,jdbcType=VARCHAR}, #{cnfParam1,jdbcType=VARCHAR}, #{cnfParam2,jdbcType=VARCHAR}, #{cnfParam3,jdbcType=VARCHAR}
      , #{cnfParam4,jdbcType=VARCHAR}, #{cnfParam5,jdbcType=VARCHAR})
  </insert>
	<insert id="insertSelective" parameterType="com.business.management.pojo.Config">
		insert into tb_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="cnfCode != null">
				CNF_CODE,
			</if>
			<if test="cnfValue != null">
				CNF_VALUE,
			</if>
			<if test="cnfNote != null">
				CNF_NOTE,
			</if>
			<if test="cnfNoteKr != null">
				CNF_NOTE_KR,
			</if>
			<if test="cnfParam1 != null">
				CNF_PARAM_1,
			</if>
			<if test="cnfParam2 != null">
				CNF_PARAM_2,
			</if>
			<if test="cnfParam3 != null">
				CNF_PARAM_3,
			</if>
			<if test="cnfParam4 != null">
				CNF_PARAM_4,
			</if>
			<if test="cnfParam5 != null">
				CNF_PARAM_5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="cnfCode != null">
				#{cnfCode,jdbcType=VARCHAR},
			</if>
			<if test="cnfValue != null">
				#{cnfValue,jdbcType=VARCHAR},
			</if>
			<if test="cnfNote != null">
				#{cnfNote,jdbcType=VARCHAR},
			</if>
			<if test="cnfNoteKr != null">
				#{cnfNoteKr,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam1 != null">
				#{cnfParam1,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam2 != null">
				#{cnfParam2,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam3 != null">
				#{cnfParam3,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam4 != null">
				#{cnfParam4,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam5 != null">
				#{cnfParam5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.business.management.pojo.Config">
		update tb_config
		<set>
			<if test="cnfCode != null">
				CNF_CODE = #{cnfCode,jdbcType=VARCHAR},
			</if>
			<if test="cnfValue != null">
				CNF_VALUE = #{cnfValue,jdbcType=VARCHAR},
			</if>
			<if test="cnfNote != null">
				CNF_NOTE = #{cnfValueChange,jdbcType=VARCHAR},
			</if>
			<if test="cnfNoteKr != null">
				CNF_NOTE_KR = #{cnfNote,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam1 != null">
				CNF_PARAM_1 = #{cnfNote,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam2 != null">
				CNF_PARAM_2 = #{cnfNote,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam3 != null">
				CNF_PARAM_3 = #{cnfNote,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam4 != null">
				CNF_PARAM_4 = #{cnfNote,jdbcType=VARCHAR},
			</if>
			<if test="cnfParam5 != null">
				CNF_PARAM_5 = #{cnfNote,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.business.management.pojo.Config">
    update tb_config
    set CNF_CODE = #{cnfCode,jdbcType=VARCHAR},
      CNF_VALUE = #{cnfValue,jdbcType=VARCHAR},
      CNF_NOTE = #{cnfNote,jdbcType=VARCHAR},
      CNF_NOTE_KR = #{cnfNoteKr,jdbcType=VARCHAR},
      CNF_PARAM_1 = #{cnfParam1,jdbcType=VARCHAR},
      CNF_PARAM_2 = #{cnfParam2,jdbcType=VARCHAR},
      CNF_PARAM_3 = #{cnfParam3,jdbcType=VARCHAR},
      CNF_PARAM_4 = #{cnfParam4,jdbcType=VARCHAR},
      CNF_PARAM_5 = #{cnfParam5,jdbcType=VARCHAR},
    where ID = #{id,jdbcType=INTEGER}
  </update>


	<select id="selectConfigListByCode" parameterType="java.lang.String" resultType="com.business.management.pojo.Config">
		SELECT 	<include refid="Base_Column_List" />
		FROM   	TB_CONFIG
		WHERE  	CNF_CODE = #{CNF_CODE}
	</select>

	<select id="selectConfigAllList" resultType="com.business.management.pojo.Config">
		SELECT 	<include refid="Base_Column_List" />
		FROM   	TB_CONFIG
	</select>

</mapper>