<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.management.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.business.management.pojo.Customer">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId"  />
    <result column="CUSTOMER_NAME" jdbcType="VARCHAR" property="customerName" />
    <result column="CUSTOMER_NAME_KR" jdbcType="VARCHAR" property="customerNameKr" />
    <result column="CUSTOMER_CD" jdbcType="VARCHAR" property="customerCd" />
    <result column="CUSTOMER_TYPE" jdbcType="VARCHAR" property="customerType" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="DIRECTOR" jdbcType="VARCHAR" property="director" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="WECHAT" jdbcType="VARCHAR" property="wechat" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="SALES_VOLUMN" jdbcType="VARCHAR" property="salesVolumn" />
    <result column="DEVELOPMENT_SKILL" jdbcType="VARCHAR" property="developmentSkill" />
    <result column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <result column="TARGET" jdbcType="VARCHAR" property="target" />
    <result column="PRODUCT_LIST" jdbcType="VARCHAR" property="productList" />
    <result column="DISTRIBUTION" jdbcType="VARCHAR" property="distribution" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="AREA" jdbcType="VARCHAR" property="area" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="SALES_MAN" jdbcType="VARCHAR" property="salesMan" />
    <result column="CUSTOMER_IMAGE" jdbcType="VARCHAR" property="customerImage" />
    <result column="PARAM1" jdbcType="VARCHAR" property="param1" />
    <result column="PARAM2" jdbcType="VARCHAR" property="param2" />
    <result column="PARAM3" jdbcType="VARCHAR" property="param3" />
    <result column="PARAM4" jdbcType="VARCHAR" property="param4" />
    <result column="PARAM5" jdbcType="VARCHAR" property="param5" />
    <result column="CREATETIME" jdbcType="VARCHAR" property="createtime" />
    <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROJECT_ID, CUSTOMER_NAME, CUSTOMER_NAME_KR, CUSTOMER_CD, CUSTOMER_TYPE, AUTHOR, DIRECTOR, STATUS,
    PHONE, WECHAT, DESCRIPTION, SALES_VOLUMN, DEVELOPMENT_SKILL, CHANNEL, TARGET, PRODUCT_LIST,
    DISTRIBUTION, PROVINCE, CITY, AREA, ADDRESS, SALES_MAN, CUSTOMER_IMAGE, PARAM1, PARAM2, 
    PARAM3, PARAM4, PARAM5, date_format(CREATETIME, '%Y-%m-%d') AS CREATETIME, date_format(UPDATETIME, '%Y-%m-%d') AS UPDATETIME
  </sql>
  <sql id="Base_Project_Baseinfo_List">
    ID, PROJECT_CD, PROJECT_NAME, PROJECT_CUSTOMER, PROJECT_SALES_MAN, PROJECT_PRICE_TOTAL,
    PROJECT_STATUS, PROJECT_LOCATION, DISTRIBUTION, PROJECT_CREATER, PROJECT_STARTTIME, PROJECT_ENDTIME, PARAM1, PARAM2, PARAM3, PARAM4,
    PARAM5, date_format(CREATETIME, '%Y-%m-%d') AS CREATETIME, date_format(UPDATETIME, '%Y-%m-%d') AS UPDATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_customer
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_customer
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.business.management.pojo.Customer">
    insert into tb_customer (ID, PROJECT_ID, CUSTOMER_NAME, 
      CUSTOMER_NAME_KR, CUSTOMER_CD, CUSTOMER_TYPE, AUTHOR,
      DIRECTOR, STATUS, PHONE, 
      WECHAT, DESCRIPTION, SALES_VOLUMN, 
      DEVELOPMENT_SKILL, CHANNEL, TARGET, PRODUCT_LIST,
      DISTRIBUTION, PROVINCE, CITY, 
      AREA, ADDRESS, SALES_MAN, 
      CUSTOMER_IMAGE, PARAM1, PARAM2, 
      PARAM3, PARAM4, PARAM5, 
      CREATETIME, UPDATETIME)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR},
      #{customerNameKr,jdbcType=VARCHAR}, #{customerCd,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{director,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{salesVolumn,jdbcType=VARCHAR}, 
      #{developmentSkill,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{productList,jdbcType=VARCHAR},
      #{distribution,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{salesMan,jdbcType=VARCHAR}, 
      #{customerImage,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, 
      #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertWhenCreateNewProject" parameterType="com.business.management.pojo.Customer">
    insert into tb_customer (ID, PROJECT_ID, CUSTOMER_NAME,
      CUSTOMER_NAME_KR, CUSTOMER_CD, CUSTOMER_TYPE, AUTHOR,
      DIRECTOR, STATUS, PHONE,
      WECHAT, DESCRIPTION, SALES_VOLUMN,
      DEVELOPMENT_SKILL, CHANNEL, TARGET, PRODUCT_LIST,
      DISTRIBUTION, PROVINCE, CITY,
      AREA, ADDRESS, SALES_MAN,
      CUSTOMER_IMAGE, PARAM1, PARAM2,
      PARAM3, PARAM4, PARAM5,
      CREATETIME, UPDATETIME)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR},
      #{customerNameKr,jdbcType=VARCHAR}, #{customerCd,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{director,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{wechat,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{salesVolumn,jdbcType=VARCHAR},
      #{developmentSkill,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{productList,jdbcType=VARCHAR},
      #{distribution,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{salesMan,jdbcType=VARCHAR},
      #{customerImage,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR},
      #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR},
      now(), now())
  </insert>

  <insert id="insertSelective" parameterType="com.business.management.pojo.Customer">
    insert into tb_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="customerName != null">
        CUSTOMER_NAME,
      </if>
      <if test="customerNameKr != null">
        CUSTOMER_NAME_KR,
      </if>
      <if test="customerCd != null">
        CUSTOMER_CD,
      </if>
      <if test="customerType != null">
        CUSTOMER_TYPE,
      </if>
      <if test="author != null">
        AUTHOR,
      </if>
      <if test="director != null">
        DIRECTOR,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="wechat != null">
        WECHAT,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="salesVolumn != null">
        SALES_VOLUMN,
      </if>
      <if test="developmentSkill != null">
        DEVELOPMENT_SKILL,
      </if>
      <if test="channel != null">
        CHANNEL,
      </if>
      <if test="target != null">
        TARGET,
      </if>
      <if test="productList != null">
        PRODUCT_LIST,
      </if>
      <if test="distribution != null">
        DISTRIBUTION,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="area != null">
        AREA,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="salesMan != null">
        SALES_MAN,
      </if>
      <if test="customerImage != null">
        CUSTOMER_IMAGE,
      </if>
      <if test="param1 != null">
        PARAM1,
      </if>
      <if test="param2 != null">
        PARAM2,
      </if>
      <if test="param3 != null">
        PARAM3,
      </if>
      <if test="param4 != null">
        PARAM4,
      </if>
      <if test="param5 != null">
        PARAM5,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      UPDATETIME
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=ARRAY},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerNameKr != null">
        #{customerNameKr,jdbcType=VARCHAR},
      </if>
      <if test="customerCd != null">
        #{customerCd,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="salesVolumn != null">
        #{salesVolumn,jdbcType=VARCHAR},
      </if>
      <if test="developmentSkill != null">
        #{developmentSkill,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="productList != null">
        #{productList,jdbcType=VARCHAR},
      </if>
      <if test="distribution != null">
        #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="salesMan != null">
        #{salesMan,jdbcType=VARCHAR},
      </if>
      <if test="customerImage != null">
        #{customerImage,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null">
        #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null">
        #{param5,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.business.management.pojo.Customer">
    update tb_customer
    <set>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerNameKr != null">
        CUSTOMER_NAME_KR = #{customerNameKr,jdbcType=VARCHAR},
      </if>
      <if test="customerCd != null">
        CUSTOMER_CD = #{customerCd,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        DIRECTOR = #{director,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        WECHAT = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="salesVolumn != null">
        SALES_VOLUMN = #{salesVolumn,jdbcType=VARCHAR},
      </if>
      <if test="developmentSkill != null">
        DEVELOPMENT_SKILL = #{developmentSkill,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        CHANNEL = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        TARGET = #{target,jdbcType=VARCHAR},
      </if>
      <if test="productList != null">
        PRODUCT_LIST = #{productList,jdbcType=VARCHAR},
      </if>
      <if test="distribution != null">
        DISTRIBUTION = #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        AREA = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="salesMan != null">
        SALES_MAN = #{salesMan,jdbcType=VARCHAR},
      </if>
      <if test="customerImage != null">
        CUSTOMER_IMAGE = #{customerImage,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        PARAM3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null">
        PARAM4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null">
        PARAM5 = #{param5,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      UPDATETIME = now()
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.business.management.pojo.Customer">
    update tb_customer
    set PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      CUSTOMER_NAME_KR = #{customerNameKr,jdbcType=VARCHAR},
      CUSTOMER_CD = #{customerCd,jdbcType=VARCHAR},
      CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      DIRECTOR = #{director,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      WECHAT = #{wechat,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      SALES_VOLUMN = #{salesVolumn,jdbcType=VARCHAR},
      DEVELOPMENT_SKILL = #{developmentSkill,jdbcType=VARCHAR},
      CHANNEL = #{channel,jdbcType=VARCHAR},
      TARGET = #{target,jdbcType=VARCHAR},
      PRODUCT_LIST = #{productList,jdbcType=VARCHAR},
      DISTRIBUTION = #{distribution,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      AREA = #{area,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SALES_MAN = #{salesMan,jdbcType=VARCHAR},
      CUSTOMER_IMAGE = #{customerImage,jdbcType=VARCHAR},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      UPDATETIME = now()
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCustomerList" resultType="com.business.management.pojo.Customer">
    SELECT
    <include refid="Base_Column_List"/>
    FROM  	TB_CUSTOMER
    ORDER BY CREATETIME DESC
  </select>

  <select id="getCustomerListOnlyIDAndName" resultType="com.business.management.pojo.Customer">
    SELECT  ID,CUSTOMER_NAME
    FROM    TB_CUSTOMER
    ORDER BY ID DESC
  </select>

  <select id="selectByCustomerName" parameterType="java.lang.String" resultType="com.business.management.pojo.Customer">
    SELECT  <include refid="Base_Column_List"/>
    FROM  	TB_CUSTOMER
    WHERE   CUSTOMER_NAME = #{customerName}
  </select>

  <select id="selectByCustomerId" parameterType="java.lang.Integer" resultType="com.business.management.pojo.Customer">
    SELECT  <include refid="Base_Column_List"/>
    FROM  	TB_CUSTOMER
    WHERE   ID = #{customerId}
  </select>

  <select id="checkCustomerName" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT  COUNT(1)
    FROM    TB_CUSTOMER
    WHERE   CUSTOMER_NAME = #{customerName}
  </select>

  <select id="selectProjectListByCustomerId" parameterType="java.lang.Integer" resultType="com.business.management.pojo.ProjectBaseinfo">
    SELECT  <include refid="Base_Project_Baseinfo_List" />
    FROM    TB_PROJECT_BASEINFO
    WHERE   PROJECT_CUSTOMER = #{customerId}
  </select>
</mapper>