<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.management.dao.CustomerMapper">
	<resultMap id="BaseResultMap" type="com.business.management.pojo.Customer">
		<id column="CUSTOMER_ID" jdbcType="INTEGER" property="customerId"/>
		<result column="CUSTOMER_NAME" jdbcType="VARCHAR" property="customerName"/>
		<result column="CUSTOMER_NAME_KR" jdbcType="VARCHAR" property="customerNameKr"/>
		<result column="CUSTOMER_CD" jdbcType="VARCHAR" property="customerCd"/>
		<result column="DIRECTOR" jdbcType="VARCHAR" property="director"/>
		<result column="STATUS" jdbcType="VARCHAR" property="status"/>
		<result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
		<result column="WECHAT" jdbcType="VARCHAR" property="wechat"/>
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
		<result column="TARGET" jdbcType="VARCHAR" property="target"/>
		<result column="PRODUCT_LIST" jdbcType="VARCHAR" property="productList"/>
		<result column="DISTRIBUTION" jdbcType="VARCHAR" property="distribution"/>
		<result column="CITY" jdbcType="VARCHAR" property="city"/>
		<result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
		<result column="PARAM1" jdbcType="VARCHAR" property="param1"/>
		<result column="PARAM2" jdbcType="VARCHAR" property="param2"/>
		<result column="PARAM3" jdbcType="VARCHAR" property="param3"/>
		<result column="PARAM4" jdbcType="VARCHAR" property="param4"/>
		<result column="PARAM5" jdbcType="VARCHAR" property="param5"/>
		<result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
		<result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
	</resultMap>
	<sql id="Base_Column_List">
    CUSTOMER_ID, CUSTOMER_NAME, CUSTOMER_NAME_KR, CUSTOMER_CD, DIRECTOR, STATUS, MOBILE, 
    WECHAT, DESCRIPTION, TARGET, PRODUCT_LIST, DISTRIBUTION, CITY, ADDRESS, PARAM1, PARAM2, 
    PARAM3, PARAM4, PARAM5, CREATETIME, UPDATETIME
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from tb_customer
		where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_customer
    where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.business.management.pojo.Customer">
    insert into tb_customer (CUSTOMER_ID, CUSTOMER_NAME, CUSTOMER_NAME_KR, 
      CUSTOMER_CD, DIRECTOR, STATUS, 
      MOBILE, WECHAT, DESCRIPTION, 
      TARGET, PRODUCT_LIST, DISTRIBUTION, 
      CITY, ADDRESS, PARAM1, 
      PARAM2, PARAM3, PARAM4, 
      PARAM5, CREATETIME, UPDATETIME
      )
    values (#{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{customerNameKr,jdbcType=VARCHAR}, 
      #{customerCd,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{target,jdbcType=VARCHAR}, #{productList,jdbcType=VARCHAR}, #{distribution,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, 
      #{param5,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
	<insert id="insertSelective" parameterType="com.business.management.pojo.Customer">
		insert into tb_customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerId != null">
				CUSTOMER_ID,
			</if>
			<if test="customerName != null">
				CUSTOMER_NAME,
			</if>
			<if test="customerNameKr != null">
				CUSTOMER_NAME_KR,
			</if>
			<if test="customerCd != null">
				CUSTOMER_CD,
			</if>
			<if test="director != null">
				DIRECTOR,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="wechat != null">
				WECHAT,
			</if>
			<if test="description != null">
				DESCRIPTION,
			</if>
			<if test="target != null">
				TARGET,
			</if>
			<if test="productList != null">
				PRODUCT_LIST,
			</if>
			<if test="distribution != null">
				DISTRIBUTION,
			</if>
			<if test="city != null">
				CITY,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="param1 != null">
				PARAM1,
			</if>
			<if test="param2 != null">
				PARAM2,
			</if>
			<if test="param3 != null">
				PARAM3,
			</if>
			<if test="param4 != null">
				PARAM4,
			</if>
			<if test="param5 != null">
				PARAM5,
			</if>
			<if test="createtime != null">
				CREATETIME,
			</if>
			<if test="updatetime != null">
				UPDATETIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customerId != null">
				#{customerId,jdbcType=INTEGER},
			</if>
			<if test="customerName != null">
				#{customerName,jdbcType=VARCHAR},
			</if>
			<if test="customerNameKr != null">
				#{customerNameKr,jdbcType=VARCHAR},
			</if>
			<if test="customerCd != null">
				#{customerCd,jdbcType=VARCHAR},
			</if>
			<if test="director != null">
				#{director,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="wechat != null">
				#{wechat,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="target != null">
				#{target,jdbcType=VARCHAR},
			</if>
			<if test="productList != null">
				#{productList,jdbcType=VARCHAR},
			</if>
			<if test="distribution != null">
				#{distribution,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="param1 != null">
				#{param1,jdbcType=VARCHAR},
			</if>
			<if test="param2 != null">
				#{param2,jdbcType=VARCHAR},
			</if>
			<if test="param3 != null">
				#{param3,jdbcType=VARCHAR},
			</if>
			<if test="param4 != null">
				#{param4,jdbcType=VARCHAR},
			</if>
			<if test="param5 != null">
				#{param5,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.business.management.pojo.Customer">
		update tb_customer
		<set>
			<if test="customerName != null">
				CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
			</if>
			<if test="customerNameKr != null">
				CUSTOMER_NAME_KR = #{customerNameKr,jdbcType=VARCHAR},
			</if>
			<if test="customerCd != null">
				CUSTOMER_CD = #{customerCd,jdbcType=VARCHAR},
			</if>
			<if test="director != null">
				DIRECTOR = #{director,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="wechat != null">
				WECHAT = #{wechat,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION = #{description,jdbcType=VARCHAR},
			</if>
			<if test="target != null">
				TARGET = #{target,jdbcType=VARCHAR},
			</if>
			<if test="productList != null">
				PRODUCT_LIST = #{productList,jdbcType=VARCHAR},
			</if>
			<if test="distribution != null">
				DISTRIBUTION = #{distribution,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				CITY = #{city,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="param1 != null">
				PARAM1 = #{param1,jdbcType=VARCHAR},
			</if>
			<if test="param2 != null">
				PARAM2 = #{param2,jdbcType=VARCHAR},
			</if>
			<if test="param3 != null">
				PARAM3 = #{param3,jdbcType=VARCHAR},
			</if>
			<if test="param4 != null">
				PARAM4 = #{param4,jdbcType=VARCHAR},
			</if>
			<if test="param5 != null">
				PARAM5 = #{param5,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.business.management.pojo.Customer">
    update tb_customer
    set CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      CUSTOMER_NAME_KR = #{customerNameKr,jdbcType=VARCHAR},
      CUSTOMER_CD = #{customerCd,jdbcType=VARCHAR},
      DIRECTOR = #{director,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      WECHAT = #{wechat,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      TARGET = #{target,jdbcType=VARCHAR},
      PRODUCT_LIST = #{productList,jdbcType=VARCHAR},
      DISTRIBUTION = #{distribution,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
  </update>
</mapper>