<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.management.dao.ProjectFileinfoMapper">
	<resultMap id="BaseResultMap" type="com.business.management.pojo.ProjectFileinfo">
		<id column="ID" jdbcType="INTEGER" property="id"/>
		<result column="PROJECT_ID" jdbcType="INTEGER" property="projectId"/>
		<result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
		<result column="FILE_EXTENSION" jdbcType="VARCHAR" property="fileExtension"/>
		<result column="FILE_COMMENT" jdbcType="VARCHAR" property="fileComment"/>
		<result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
		<result column="PARAM1" jdbcType="VARCHAR" property="param1"/>
		<result column="PARAM2" jdbcType="VARCHAR" property="param2"/>
		<result column="PARAM3" jdbcType="VARCHAR" property="param3"/>
		<result column="PARAM4" jdbcType="VARCHAR" property="param4"/>
		<result column="PARAM5" jdbcType="VARCHAR" property="param5"/>
		<result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime"/>
		<result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
	</resultMap>
	<sql id="Base_Column_List">
    ID, PROJECT_ID, FILE_NAME, FILE_EXTENSION, FILE_COMMENT, FILE_PATH, PARAM1, PARAM2, 
    PARAM3, PARAM4, PARAM5, CREATETIME, UPDATETIME
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from tb_project_fileinfo
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_project_fileinfo
    where ID = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.business.management.pojo.ProjectFileinfo">
    insert into tb_project_fileinfo (ID, PROJECT_ID, FILE_NAME, 
      FILE_EXTENSION, FILE_COMMENT, FILE_PATH, 
      PARAM1, PARAM2, PARAM3, 
      PARAM4, PARAM5, CREATETIME, 
      UPDATETIME)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{fileExtension,jdbcType=VARCHAR}, #{fileComment,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, 
      #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
	<insert id="insertSelective" parameterType="com.business.management.pojo.ProjectFileinfo">
		insert into tb_project_fileinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="fileName != null">
				FILE_NAME,
			</if>
			<if test="fileExtension != null">
				FILE_EXTENSION,
			</if>
			<if test="fileComment != null">
				FILE_COMMENT,
			</if>
			<if test="filePath != null">
				FILE_PATH,
			</if>
			<if test="param1 != null">
				PARAM1,
			</if>
			<if test="param2 != null">
				PARAM2,
			</if>
			<if test="param3 != null">
				PARAM3,
			</if>
			<if test="param4 != null">
				PARAM4,
			</if>
			<if test="param5 != null">
				PARAM5,
			</if>
			<if test="createtime != null">
				CREATETIME,
			</if>
			<if test="updatetime != null">
				UPDATETIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=INTEGER},
			</if>
			<if test="fileName != null">
				#{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileExtension != null">
				#{fileExtension,jdbcType=VARCHAR},
			</if>
			<if test="fileComment != null">
				#{fileComment,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				#{filePath,jdbcType=VARCHAR},
			</if>
			<if test="param1 != null">
				#{param1,jdbcType=VARCHAR},
			</if>
			<if test="param2 != null">
				#{param2,jdbcType=VARCHAR},
			</if>
			<if test="param3 != null">
				#{param3,jdbcType=VARCHAR},
			</if>
			<if test="param4 != null">
				#{param4,jdbcType=VARCHAR},
			</if>
			<if test="param5 != null">
				#{param5,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.business.management.pojo.ProjectFileinfo">
		update tb_project_fileinfo
		<set>
			<if test="projectId != null">
				PROJECT_ID = #{projectId,jdbcType=INTEGER},
			</if>
			<if test="fileName != null">
				FILE_NAME = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileExtension != null">
				FILE_EXTENSION = #{fileExtension,jdbcType=VARCHAR},
			</if>
			<if test="fileComment != null">
				FILE_COMMENT = #{fileComment,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				FILE_PATH = #{filePath,jdbcType=VARCHAR},
			</if>
			<if test="param1 != null">
				PARAM1 = #{param1,jdbcType=VARCHAR},
			</if>
			<if test="param2 != null">
				PARAM2 = #{param2,jdbcType=VARCHAR},
			</if>
			<if test="param3 != null">
				PARAM3 = #{param3,jdbcType=VARCHAR},
			</if>
			<if test="param4 != null">
				PARAM4 = #{param4,jdbcType=VARCHAR},
			</if>
			<if test="param5 != null">
				PARAM5 = #{param5,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.business.management.pojo.ProjectFileinfo">
    update tb_project_fileinfo
    set PROJECT_ID = #{projectId,jdbcType=INTEGER},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_EXTENSION = #{fileExtension,jdbcType=VARCHAR},
      FILE_COMMENT = #{fileComment,jdbcType=VARCHAR},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>