<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.management.dao.ProjectSalesmanMapper">
	<resultMap id="BaseResultMap" type="com.business.management.pojo.ProjectSalesman">
		<id column="ID" jdbcType="INTEGER" property="id"/>
		<result column="PROJECT_ID" jdbcType="INTEGER" property="projectId"/>
		<result column="SALESMAN_ID" jdbcType="INTEGER" property="salesmanId"/>
		<result column="SALESMAN_NAME" jdbcType="VARCHAR" property="salesmanName"/>
		<result column="PARAM1" jdbcType="VARCHAR" property="param1"/>
		<result column="PARAM2" jdbcType="VARCHAR" property="param2"/>
		<result column="PARAM3" jdbcType="VARCHAR" property="param3"/>
		<result column="PARAM4" jdbcType="VARCHAR" property="param4"/>
		<result column="PARAM5" jdbcType="VARCHAR" property="param5"/>
		<result column="CREATETIME" jdbcType="VARCHAR" property="createtime"/>
		<result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime"/>
	</resultMap>
	<sql id="Base_Column_List">
    ID, PROJECT_ID, SALESMAN_ID, SALESMAN_NAME, PARAM1, PARAM2, PARAM3, PARAM4, PARAM5, 
    date_format(CREATETIME, '%Y-%m-%d') AS CREATETIME, date_format(UPDATETIME, '%Y-%m-%d') AS UPDATETIME
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from tb_project_salesman
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_project_salesman
    where ID = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="com.business.management.pojo.ProjectSalesman">
    insert into tb_project_salesman (ID, PROJECT_ID, SALESMAN_ID, 
      SALESMAN_NAME, PARAM1, PARAM2, 
      PARAM3, PARAM4, PARAM5, 
      CREATETIME, UPDATETIME)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{salesmanId,jdbcType=INTEGER}, 
      #{salesmanName,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, 
      #{param3,jdbcType=VARCHAR}, #{param4,jdbcType=VARCHAR}, #{param5,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
	<insert id="insertSelective" parameterType="com.business.management.pojo.ProjectSalesman">
		insert into tb_project_salesman
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="salesmanId != null">
				SALESMAN_ID,
			</if>
			<if test="salesmanName != null">
				SALESMAN_NAME,
			</if>
			<if test="param1 != null">
				PARAM1,
			</if>
			<if test="param2 != null">
				PARAM2,
			</if>
			<if test="param3 != null">
				PARAM3,
			</if>
			<if test="param4 != null">
				PARAM4,
			</if>
			<if test="param5 != null">
				PARAM5,
			</if>
			<if test="createtime != null">
				CREATETIME,
			</if>
			<if test="updatetime != null">
				UPDATETIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=INTEGER},
			</if>
			<if test="salesmanId != null">
				#{salesmanId,jdbcType=INTEGER},
			</if>
			<if test="salesmanName != null">
				#{salesmanName,jdbcType=VARCHAR},
			</if>
			<if test="param1 != null">
				#{param1,jdbcType=VARCHAR},
			</if>
			<if test="param2 != null">
				#{param2,jdbcType=VARCHAR},
			</if>
			<if test="param3 != null">
				#{param3,jdbcType=VARCHAR},
			</if>
			<if test="param4 != null">
				#{param4,jdbcType=VARCHAR},
			</if>
			<if test="param5 != null">
				#{param5,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.business.management.pojo.ProjectSalesman">
		update tb_project_salesman
		<set>
			<if test="projectId != null">
				PROJECT_ID = #{projectId,jdbcType=INTEGER},
			</if>
			<if test="salesmanId != null">
				SALESMAN_ID = #{salesmanId,jdbcType=INTEGER},
			</if>
			<if test="salesmanName != null">
				SALESMAN_NAME = #{salesmanName,jdbcType=VARCHAR},
			</if>
			<if test="param1 != null">
				PARAM1 = #{param1,jdbcType=VARCHAR},
			</if>
			<if test="param2 != null">
				PARAM2 = #{param2,jdbcType=VARCHAR},
			</if>
			<if test="param3 != null">
				PARAM3 = #{param3,jdbcType=VARCHAR},
			</if>
			<if test="param4 != null">
				PARAM4 = #{param4,jdbcType=VARCHAR},
			</if>
			<if test="param5 != null">
				PARAM5 = #{param5,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME = #{createtime,jdbcType=VARCHAR},
			</if>
			UPDATETIME = now()
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.business.management.pojo.ProjectSalesman">
    update tb_project_salesman
    set PROJECT_ID = #{projectId,jdbcType=INTEGER},
      SALESMAN_ID = #{salesmanId,jdbcType=INTEGER},
      SALESMAN_NAME = #{salesmanName,jdbcType=VARCHAR},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR},
      PARAM4 = #{param4,jdbcType=VARCHAR},
      PARAM5 = #{param5,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      UPDATETIME = now()
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>